.square {
  box-sizing: border-box;
  margin-left: 1%;
  margin-right: 1%;
  height: 100%;
  width: 8%;
  font-size: 4vw;
  padding-top: 3%;
  padding-bottom: 3%;
}

.square img{
  height: 100%;
  width: 100%;
}
